# .bazelrc

# Common settings for all builds
build --apple_platform_type=ios
# The problematic '--host_platform' flag has been removed. Bazel will auto-detect this.
# Disable bzlmod to resolve conflicts with the WORKSPACE setup in the CI environment.
build --enable_bzlmod=false

# Specific settings for the 'ios_release' configuration used in the workflow.
build:ios_release --compilation_mode=opt
build:ios_release --ios_multi_cpus=arm64,sim_arm64
