<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>destination</key>
    <string>export</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>J4QUKKF6V3</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.crosssumssimple.app</key>
        <string>CrossSumsSimple_AppStore</string>
    </dict>
    <key>codeSignIdentity</key>
    <string>iPhone Distribution</string>
</dict>
</plist>